<%= form_with(model: discussion, local: true) do |form| %>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <br>

  <%= form.fields_for :posts do |posts_form| %>
    <%= posts_form.hidden_field :user_id, value: current_user.id %>
    <%= posts_form.label "Content:" %><br>
    <%= posts_form.text_area :content, class: 'form-control' %>
  <% end %>

  <br>

  <div class="actions">
    <%= form.submit class: 'form-control btn btn-success' %>
  </div>

  <br>
<% end %>
