<% provide(:title, "Discussion Board") %>

<h1 class="text-center">Discussion Board</h1>

<main role="main" class="container">
  <div class="jumbotron col-md-12" style="margin: 0 auto">
    <% @discussions.each do |discussion| %>
      <div class="card">
        <div class="card-header">
          <h3><%= link_to discussion.title, discussion, class: 'standard-link' %></h3>
        </div>
        <div class="card-body">
          <%= discussion.posts.last.content %>
          <br><br>
          <p><%= link_to discussion.posts.last.user.username, user_path(discussion.posts.last.user.username), class: 'standard-link' %> -
            <%= time_ago_in_words(discussion.posts.last.created_at) %> ago.</p>
        </div>
        <div class="card-footer">
          <% if logged_in? && current_user.id === discussion.user.id %>
            <%= link_to '<i class="far fa-edit"></i> Edit'.html_safe, edit_discussion_path(discussion), class: 'btn btn-primary' %>
            <%= link_to '<i class="fas fa-times"></i> Delete'.html_safe, discussion, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          <% end %>
        </div>
      </div>
      <hr>
    <% end %>

    <br>

    <%= link_to '<i class="fas fa-plus"></i> New Discussion'.html_safe, new_discussion_path, class: 'btn btn-primary' %>
  </div>
</main>

<br>
