<div class="card comment">
  <div class="card-body">
    <%= comment.content %><br>
    <strong><%= link_to comment.get_commenter.username, user_path(comment.get_commenter), class: 'standard-link' %></strong> |
    <%= time_ago_in_words(comment.created_at) %> ago.
  </div>

  <div class="card-footer">
    <div>
      <%= link_to '<i class="far fa-thumbs-up"></i>'.html_safe, country_comment_likes_path(comment.country, comment), method: :post, class: 'standard-link' %>
      <%= link_to '<i class="far fa-thumbs-down"></i>'.html_safe, country_comment_dislikes_path(comment.country, comment), method: :post, class: 'standard-link' %>
      <%= comment.likes.count - comment.dislikes.count %>
      <%= (comment.likes.count - comment.dislikes.count) == 1 ? 'Like' : 'Likes'%>
      <% if @current_user != nil && comment.user_id == @current_user.id %>
        <%= link_to 'Delete', [comment.country, comment], method: :delete, data: { confirm: 'Are you sure?' }, class: 'standard-link' %>
      <% end %>
      <%= link_to 'Reply'.html_safe, "#reply-#{comment.id}", class: 'btn btn-info float-right', id: "reply-#{comment.id}" %>
    </div>

    <br>

    <%= content_tag(:div, id: "reply-form-#{comment.id}", style: "display:none;") do -%>
      <% if logged_in? %>
        <%= form_for [ comment.country, Comment.new ] do |form| %>

          <div class="field">
            <%= form.hidden_field :reply_id, value: comment.id %>
            <%= form.hidden_field :user_id, value: current_user.id %>
          </div>

          <div class="field">
            <%= form.label "Type your reply here:" %><br>
            <%= form.text_area :content, class: 'form-control' %>
          </div>

          <br>

          <div class="actions">
            <%= form.submit class: 'btn btn-success', value: 'Reply' %>
          </div>
        <% end %>
      <% else %>
        <span>You must <%= link_to :login, login_path, class: 'standard-link' %> to reply to <%= comment.get_commenter.username %>.</span>
      <% end %>
    <% end %>

    <% if comment.replies.any? %>
      <strong><%= link_to "#{comment.replies.count}" + "#{" Replies" if comment.replies.count > 1}#{" Reply" if comment.replies.count == 1}",
      "#reply-container-#{comment.id}", class: 'standard-link', id: "expand-#{comment.id}" %></strong>
    <% end %>

    <%= content_tag(:div, id: "reply-container-#{comment.id}", style: "display: none;") do -%>
      <%= render comment.replies if comment.replies.any? %>
    <% end %>

  </div>
</div>

<br>